name: Build the site
on:
  push:
     branches:
       - main
jobs:
   Jekyll:
     runs-on: ubuntu-latest
     steps:
         - uses: actions/checkout@v2
         - uses: buddhist-uni/normalized-unicode-action@main
           with:
             check_all: true
         - uses: actions/cache@v2
           with:
             path: ${{ github.workspace }}/vendor
             key: ${{ runner.os }}-vendor-${{ hashFiles('**/Gemfile.lock') }}
             restore-keys: |
               ${{ runner.os }}-vendor-
         - uses: helaili/jekyll-action@2.2
           with:
             token: ${{ secrets.BUILD_ACTION_TOKEN }}
             target_branch: prod
