name: Build the site
on:
  push:
     branches:
       - main
jobs:
   Jekyll:
     runs-on: ubuntu-16.04
     steps:
         - uses: actions/checkout@v2
         - uses: helaili/jekyll-action@v2
           with:
             token: ${{ secrets.BUILD_ACTION_TOKEN }}
             target_branch: prod
